<open-bike-layout></open-bike-layout>
<div class="grid grid-cols-2 gap-2 p-5">
    <div class="flex flex-col bg-white border border-gray-200 shadow" *ngFor="let user of users">
        <div class="flex flex-col p-5">
            <span>{{ user.firstName }} {{ user.lastName }}</span>
            <span class="italic font-light">{{ user.email }}</span>
        </div>
        <div class="flex items-center w-full px-2 py-2 space-x-2 bg-gray-100">
            <button [routerLink]="'edit/' + user.id" class="btn">Edit</button>
            <button class="btn error" (click)="delete(user.id)">Delete</button>
        </div>
    </div>
</div>