<open-bike-header></open-bike-header>
<div class="h-screen pt-24 bg-gray-100">
  <form
    class="flex flex-col items-center max-w-lg px-5 mx-auto space-y-2"
    [formGroup]="form"
    (submit)="submit()"
  >
    <h1 class="w-full text-2xl font-semibold">Connexion</h1>
    <label class="w-full mt-2 font-medium" for="email" required
      >Adresse mail - {{ form.errors?.email }}</label
    >
    <input
      required
      ngModel
      type="text"
      (change)="change($event)"
      name="email"
      #email="ngModel"
      class="form-control"
      formGroupName="email"
      placeholder="Email"
    />
    <div *ngIf="email.touched && email.invalid" class="alert alert-danger">
      <div *ngIf="email.errors">Obligatoire</div>
      <div></div>
    </div>

    <label class="w-full mt-2 font-medium" for="password">Mot de passe</label>
    <input
      type="password"
      (change)="change($event)"
      name="password"
      formGroupName="password"
      placeholder="Password"
    />
    <button type="submit">Connexion</button>
  </form>
</div>
