<div class="banner w-full relative bg-gradient-to-b from-gray-900 to-black">
    <canvas class="w-full h-full" #canvas></canvas>
    <div class="w-full h-full absolute z-10 top-0 flex justify-around">
        <div class="max-w-xl h-full flex-grow flex flex-col justify-center">
            <h1 class="text-6xl tracking-tighter font-semibold text-white">
                OpenBike
            </h1>
            <p class="text-lg text-white mt-4">
                Avec Open Bike, louez des vélos près de chez vous dans nos nombreuses stations ! (Attention vos trajets sont enregistrés)
            </p>
            <!-- <button>Map</button> -->
        </div>
        <div class="max-w-xl h-full flex-grow">
        </div>
    </div>
</div>