@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
}

canvas {
    display: block;
    margin: 0;
    height: 100vh;
}

.btn {
    @apply w-full h-10 font-medium text-white bg-gray-700 rounded;
}
.btn.error {
    @apply bg-red-600;
}

input[type="text"],
input[type="number"],
input[type="password"] {
    @apply w-full p-3 border-2 border-gray-100 h-14;
}

button[type="submit"],
input[type="submit"] {
    @apply w-full h-12 font-medium text-white bg-blue-500 rounded shadow;
}

select {
    @apply w-full p-3 border-2 border-gray-100 h-14;
}
