<h2 class="px-5 pt-5 text-xl font-semibold">{{ editId ? 'Editer' : 'Créer' }}</h2>

<form [formGroup]="form" (submit)="submit()" class="max-w-lg px-5 pt-5 space-y-2">
    <select (change)="change($event)" [value]="form.value.station"
     name="station" formGroupName="station">
        <option *ngFor="let station of stations" [value]="station.id" 
        [selected]="station?.id === form.value?.station">{{ station.name }}</option>
    </select>
    <input type="submit" [value]="editId ? 'Editer' : 'Créer'">
</form>