<p>rent works!</p>
<div class="parkpart">
    <div *ngFor="let park of parks" class="max-w-sm rounded overflow-hidden shadow-lg">
        <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">{{park.name}}</div>
        </div>
        <div class="px-6 pt-4 pb-2">
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">{{park.id}}</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">{{park.city}}</span>
        </div>
    </div>
</div>
<div *ngIf="bikes?.length" class="bikepart">
salut
</div>